@font-face {
	font-family:'ET';
	src:url('../../fonts/fonts/tt0588m_.eot'),
	url('../../fonts/fonts/tt0588m_.eot') format('embedded-opentype'),
	url('../../fonts/fonts/tt0588m_.otf') format('opentype'),
	url('../../fonts/fonts/tt0588m_.svg') format('svg'),
	url('../../fonts/fonts/tt0588m_.ttf') format('truetype'),
	url('../../fonts/fonts/tt0588m_.woff') format('woff');
}

@font-face {
	font-family: 'icon-arrow';
	src: url('../../fonts/icon/iconfont.eot'),
	url('../../fonts/icon/iconfont.eot') format('embedded-opentype'),
	url('../../fonts/icon/iconfont.svg') format('svg'),
	url('../../fonts/icon/iconfont.ttf') format('truetype'),
	url('../../fonts/icon/iconfont.woff') format('woff');
}