/* 大小变量*/
$stage-h: 100vh;
$controller-distance: 10vh;
$imgFig-w: 18%;
$imgFig-pad: 1.5%;
$title-size: 70%;
$controller-span-w: 2.1vw;
$controller-pad: .1vw;

/* 颜色变量*/
$stage-bg-color: #ddd;
$imgFig-bg-color: #fff;
$title-color: #acacac;
$controller-span-color: #b5b5b5;
$span-center-color: #909090;
$span-inverse-color: #727272;